.title{
    display: flex;

}

.dailydata{
    /* padding: 20px; */
    height: 800px;
}

.titleContainer {
    text-align:left;
    padding: 30px 0;
  }

.dailySummary {
    font-size:2rem;
    font-weight: bold;
    position:relative;
    display:inline-block;
    color: grey;
}
.dailySummary::after {
    content:' ';
    display:block;
    position:absolute; 
    top:50%; 
    width:175px; 
    border-bottom:1.5px solid grey;
}

.dailySummary::after {
    left:auto; right:-195px; 
}

.totalTimes {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color:#606060;
    margin: 40px 0;
    margin-bottom: 80px;
    height: 80px;
}

.dailyDetails {
    font-size:2rem;
    font-weight: bold;
    position:relative;
    display:inline-block;
    color: grey;
    margin-bottom: 30px;
}
.dailyDetails::after {
    content:' ';
    display:block;
    position:absolute; 
    top:50%; 
    width:170px; 
    border-bottom:1.5px solid grey;
}

.dailyDetails::after {
    left:auto; right:-200px; 
}


h2 {
    font-size:1.5rem;
    font-weight: bold;
    color: black;
}

