.statistics{
    flex-basis: 700px;
    height: 800px;
    margin-top: 30px;
}

.chartcontainer{
    width: 800px;
    height: 800px;

}

.uppercontainer{
    display: flex;
    justify-content: space-between;
    height: 350px;
}

.subjectbar{
    width: 400px;
    height: 300px;
}

.todobar{   
    width: 400px;
    height: 300px;
}

.subjectline{
    padding-top: 30px;
    width: 800px;
    height: 500px;
    padding-bottom: 80px;
}

.subjectbartitlecontainer {
    text-align:left;
}

.subjectbartitle{
    font-size:2rem;
    font-weight: bold;
    position:relative;
    display:inline-block;
    color: grey;
}

.subjectbartitle::after{
    content: ' ';
    display: inline;
    position: absolute;
    top: 50%;
    width: 125px;
    border-bottom: 1.5px solid grey;
    margin-inline-start: 22px;
}
.todobartitlecontainer {
    text-align:left;
}

.todobartitle{
    font-size:2rem;
    font-weight: bold;
    position:relative;
    display:inline-block;
    color: grey;
}

.todobartitle::after{
    content: ' ';
    display: inline;
    position: absolute;
    top: 50%;
    width: 135px;
    border-bottom: 1.5px solid grey;
    margin-inline-start: 22px;
}
.subjectlinetitlecontainer {
    text-align:left;
}

.subjectlinetitle{
    font-size:2rem;
    font-weight: bold;
    position:relative;
    display:inline-block;
    color: grey;
}

.subjectlinetitle::after{
    content: ' ';
    display: inline;
    position: absolute;
    top: 50%;
    width: 570px;
    border-bottom: 1.5px solid grey;
    margin-inline-start: 22px;
}