.timerContainer {
    background-color: #EEE7E1;
    padding: 20px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer {
    font-size: 5rem;    
}

.timerButton{
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #6F8D7A;
}
.timerButton:hover{
    background-color: #587061;
}