.subjectTitle {
    font-size: 2rem;
    font-weight: bold;
    padding: 20px;
}

.timerContainer {
    padding: 20px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer {
    font-size: 6rem;    
}

.timerButton{
    padding: 10px 50px;
    border-radius: 20px;
    border: none;
    font-size:1.5rem;
    color: #EEE7E1;
    background-color: #B23930;
}
.timerButton:hover{
    background-color: brightness(70%);
}