.subjectsContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 11px;
    background-color: #F0CE9A;
    max-width: 100%;
}

.subjects {
    align-items: center;
    background-color: #EEE7E1;
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
}

.subject {
    margin: 0 .5rem;
    padding: 0.5rem 1rem;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;

    display: inline-block;
    width: auto;

    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}

.subject:hover {
    filter: brightness(70%);
    border: dashed 2px black;}

.subjectManager {
    display: flex;
    overflow-x: auto;
    padding: 5px;
    max-width: 60%;

}

.subjectManager::-webkit-scrollbar {
    height: 8px;
}

.subjectManager::-webkit-scrollbar-thumb {
    background-color: #EEE7E1; /*스크롤바의 색상*/    
    border: 1px solid grey;
}

.active {
    background-color: #EBB057;
}

.addButton {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 0 10px;
}
