.active {
    background-color: #EBB057;
}

.subjectContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.subjects {
    align-items: center;
    background-color: #EEE7E1;
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
} 
.subject {
    margin: 0 .5rem;
    padding: 0.5rem 1rem;

    font-family: "Noto Sans KR", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;

    display: inline-block;
    width: auto;

    border: none;
    border-radius: 4px;
}
.addButton {
    margin: 0 .5rem;
    padding: 0.5rem 1rem;

    font-family: "Noto Sans KR", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;

    display: inline-block;
    width: auto;

    border: none;
    border-radius: 4px;
}
.addButton:hover {
    background-color: darken(10%);
}