.statistics{
    flex-basis: 700px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.statisticsDetail{
    flex-basis: 700px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}