* {
    box-sizing: border-box;
}

html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
    background-color: #DBEFFA;
}

.container {
    height: 200px;
    height: 100%;
    background-color: #e4d9ff;
}