@font-face { font-family: 'IBMPlexSansKR-Regular'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'IBMPlexSansKR-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Bold.woff') format('woff'); font-weight: normal; font-style: normal; }

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  
  font-size: 100%;
  font-family: 'IBMPlexSansKR-Regular', sans-serif;
  /* overflow: hidden; */
  background-color: #CCDFEE;
}

input,
strong,
p {
  margin: 0;
  padding: 0;
  border: 0;
}

video::-webkit-media-controls {
  display: none !important;
}

@media screen and (max-height: 630px) {
  html,
  body {
    font-size: 80%;
  }
} 

.hidden {
  display: none !important;
}


.width0 {
  width: 0% !important;
}

.width-peer0 {
  width: 45% !important;
}

.width-peer1 {
  width: 45% !important;
}
.width-peer2 {
  width: 30% !important;
}
.width-peer3 {
  width: 28% !important;
}
.width-peer4 {
  width: 28% !important;
}
.width-peer5 {
  width: 28% !important;
}
.width-peer6 {
  width: 25% !important;
}

.width-peer7 {
  width: 25% !important;
}
.width-peer8 {
  width: 25% !important;
}

.width-peer {
  width: 20% !important;
}
